@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #56baed;
}
nav{
    background-color: rgba(37, 9, 37);
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul{
    list-style: none;
}
.select-box,
.play-board,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 25px 25px;
    border-radius: 5px;
    max-width: 372px;
    width: 100%;
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.96);
}

.select-box header {
    font-size: 23px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.select-box .title {
    font-size: 18px;
    font-weight: 800;
    margin: 20px 0;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover,
.result-box .btn button:hover {
    transform: scale(0.96);
}

.options button:hover {
    transform: scale(0.96);
}

.options button.playerx {
    margin-right: 5px;
}

.options button.playero {
    margin-left: 5px;
}

.play-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.96);
    position: absolute;
    top: 50%;
    left: 50%;
}

.play-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.96);
}

.play-board .details {
    background: #fff;
    padding: 7px;
    border-radius: 5px;
}

.play-board .details .players {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.play-board .details span {
    width: 100%;
    color: #56baed;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 800;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.details span:first-child {
    color: #fff;
}

.details .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #56baed;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.players.active span:first-child {
    color: #56baed;
}

.players.active span:nth-child(2) {
    color: #fff;
}

.players.active .slider {
    left: 50%;
}

.play-board .play-area {
    margin-top: 20px;
}

.play-board section {
    display: flex;
}

.play-board section span {
    display: block;
    margin: 2px;
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    color: #56baed;
}

.result-box {
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.96);

}

.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.96);
}

.result-box .won-text {
    font-size: 25px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.result-box .won-text p {
    font-weight: 900;
    margin: 0 5px;
}

.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.result-box .btn button {
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.result-box .btn button a{
    text-decoration: none;
    color: #fff;
}